  body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    height: 100%;
    }

  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  .bg-steel {
    background-color: #5f788a;
  }

  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }

  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .nav-link {
    padding: 0px;
  }

  .main-calendar {
    text-align: center;
  }

  .category {
    border: 2px solid white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    border-radius: 10px;
  }
  .category-recipe {
    border: 2px solid white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    border-radius: 10px;
  }

  .form-check {
    padding-left: 3px;
  }

  .form-group {
    width: 100%;
  }

  .row {
    height: 100%;
  }

  .categories {
    display: flex;
    width: 100%;
    text-align: center;
    border: 2px solid;
  }

  .new-category {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }

  .recipes {
    display: flex;
    width: 100%;
    text-align: center;
    border: 2px solid;
  }

  .recipe {
    margin: 5px 0;
    border: 2px solid;
    width: fixed;
    height: auto%;
  }

  .new-recipe {
    display: inline-block;
    width: 100%;
  }

  .recipe_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .search-form {
    margin-top: 5px;
    width: 100%;
  }

  .recipe-search {
    display: inline-block;
    width: auto;
  }

  table {
    table-layout: fixed;
    height: auto;
  }

  .foodlegend {
   border-radius: 10px;
   font-size: 16px;
   padding: 3px;
  }

  .rowcell {
    position: relative;
    overflow: hidden;
    diplay: flex;
    flex: 1 1 0%;
  }

  .gridcell {
    flex: 1 1 0%;
    border-right: 1px solid transparent;
    overflow: hidden;
  }

  .foodcell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    border-radius: 10px;
    font-size: 12px;
    padding: 0;
  }

  .foodkind-0 {
    background-color: lightblue;
  }

  .foodkind-1 {
    background-color: lightgreen;
  }

  .foodkind-2 {
    background-color: yellow;
  }

  td {
    height: 100px;
  }

  .m-1 {
    margin: 0px!important;
  }

  .calendar_day {
    padding: 0;
  }

  .recipe_view {
    display: inline-block;
  }
/*
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .article-title {
    color: #444444;
  }

  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }

  .article-content {
    white-space: pre-line;
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }

  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }

  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .account-heading {
    font-size: 2.5rem;
  }

  .archive-recent-reports {
    margin-top: 10px;
    color: #444444;
    text-decoration: underline;
  }

  .archive-month-archive {
    border: 1px solid #dddddd;
  }

  .archive-module-body li {
    display: inline-block;
  }

  .archive-module-body li a{
    display: inline-block;
  }

  .archive-year {
    cursor: pointer;
  }

  .archive-module-hide-button {
    display: none;
  }

  .archive-month {
    display: none;
  }

  .archive-section {
    background: #ffffff;
    padding: 5px 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .archive-img {
    height: 30px;
    width: 30px;
    margin-right: 16px;
  }

  .archive-title {
    margin-top: 10px;
    color: #444444;
    text-decoration: underline;
  }

  .filter-date {
    text-align: right;
  }

  .table td, .table th {
    padding: 0px;
  }

  table tr td {
  word-break: break-all;
  }

  .dropdown-menu {
    background-color: #5f788a;
    width: 200px;

  }
  .dropdown-item {
    color: #cbd5db;
  }

*/
@media (max-width: 575px){

  body {
    font-size: 14px;
  }

  legend {
    font-size: 14px;
  }
  .foodlegend {
    font-size: 14px;
    padding: 1px;
  }

  .sub-menu {
    padding-left: 3px;
  }

  .current-group h5{
    font-size: 14px;
    width: 100%;
    overflow-wrap : break-word;
  }

  .main-calendar {
    padding-left: 3px;
  }

  #submenu-random {
    background-color: white;
    position: absolute;
    z-index: 100;
  }

  .sub-menu-group {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 20px;
  }

  .sub-menu-categories {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 20px;
  }

  .btn {
    font-size: 14px;
  }
  .form-control-lg {
    font-size: 14px;
    padding: .5rem .5rem;
  }
  .form-control-lg label {
    font-size: 12px;
  }

  .table .rowcell td {
    padding: .2rem;
  }
}