{% extends "layout.html" %}
{% block content %}

<div class="calendar-title">
    <a href="{{ url_for('main.home', year=context.month_previous.year,
        month=context.month_previous.month)}}"> << </a>
    {{ context.month_current.month}} / {{ context.month_current.year }}
    <a href="{{ url_for('main.home', year=context.month_next.year,
        month=context.month_next.month)}}"> >> </a>
    <a class="foodlegend foodkind-0">Breakfast</a>
    <a class="foodlegend foodkind-1">Lunch</a>
    <a class="foodlegend foodkind-2">Dinner</a>
</div>
<table class="table">
    <thead>
        <tr>
            {% for w in context.week_names %}
            <th>{{ w }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for week in context.month_day_schedulers %}
        <tr class="rowcell">
            {% for day, schedules in week.items() %}
            {% if context.now == day %}
            <td class="table-success">
                {% else %}
            <td>
                {% endif %}
                <div class="gridcell">
                    <a class="nav-item nav-link calendar_day"
                        href="{{ url_for('events.new_event', day=day) }}">{{ day.day }} </a>
                    {% for cat, recipe in schedules.items() %}
                    {% if recipe[0] %}
                    <button type="button" class="btn btn-sm m-1 foodcell foodkind-{{cat}}" data-toggle="modal"
                        data-target="#recipeModal-{{day.day}}-{{cat}}">{{recipe[0].recipe_name}}</button>
                    <div class="modal fade" id="recipeModal-{{day.day}}-{{cat}}" tabindex="-1" role="dialog"
                        aria-labelledby="recipeModalLabel-{{day.day}}-{{cat}}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="recipeModalLabel-{{day.day}}-{{cat}}">
                                        {% if cat == 0 %}
                                        【Breakfast】{{recipe[0].recipe_name}}
                                        {% elif cat == 1 %}
                                        【Lunch】{{recipe[0].recipe_name}}
                                        {% else %}
                                        【Dinner】{{recipe[0].recipe_name}}
                                        {% endif %}
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm m-1"
                                        data-dismiss="modal">Close</button>
                                    <a class="btn btn-primary btn-sm m-1" href="{{ recipe[0].recipe_url }}">Web</a>
                                    <a class="btn btn-warning btn-sm m-1"
                                        href="{{ url_for('events.update_event', event_id=recipe[1].id) }}">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}