{% extends "layout.html" %}
{% block content %}
{% if title == "New Recipe" %}
<div class="content-section">
    <form method="POST" action="">
        {{ url_form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Recipe Info GET</legend>
            <div class="form-row">
                <div class="form-group col-lg-12 col-12">
{#                    {{ url_form.recipe_url.label(class="form-control-label") }} #}
                    {% if url_form.recipe_url.errors %}
                    {{ url_form.recipe_url(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in url_form.recipe_url.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ url_form.recipe_url(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ url_form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endif %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ title }}</legend>
            <div class="form-row">
                <div class="form-group col-lg-6 col-12">
                    {{ form.recipe_name.label(class="form-control-label") }}
                    {% if not form.recipe_name and form.recipe_name.errors %}
                    {{ form.recipe_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.recipe_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.recipe_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-lg-6 col-12">
                    {{ form.recipe_url.label(class="form-control-label") }}
                    {% if not form.recipe_url and form.recipe_url.errors %}
                    {{ form.recipe_url(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.recipe_url.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.recipe_url(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6 col-12">
                    {{ form.description.label(class="form-control-label") }}
                    {% if not form.description and form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-lg-6 col-12">
                    {{ form.category_id.label(class="form-control-label") }}
                    <div class="border">
                        {% if not form.category_id and form.category_id.errors %}
                        {{ form.category_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.category_id.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.category_id(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    {% if title == "Update Recipe"%}
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Recipe?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form
                        action="{{ url_for('categories.delete_recipe', category_id=category_id, recipe_id=recipe_id) }}"
                        method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}