{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ title }}</legend>
        <div class="form-group groups-list">
            {% for group in groups %}
            <a class="btn btn-warning group-list"
               href="{{ url_for('users.update_groups', group_id=group['id'] ) }}">
                {% if group['created_by'] == current_user.id %}
                {{ group["group_name"] }}
                {% else %}
                {{ group["group_name"]}}(Shared)
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </fieldset>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add Group</legend>
            <div class="form-group">
                {% if form.group_name.errors %}
                {{ form.group_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.group_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.group_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock content %}