{% if current_user.is_authenticated %}
    {% if group_title %}
<form name="myForm" action="{{ url_for('main.home') }}" method="post" id="submit-form-group">
    <h5>{{group_title}}</h5>
    <div id="submenu-group" class="">
        {% for i in user_list%}
        <input type="radio"
               {% if i.id == select_group %}
               checked="checked"
               {% endif %}
               name="group_options" id="option-{{i.id}}" value="{{i.id}}" class="radiobutton" />
        <label for="option-{{i.id}}" class="radio-label">
        {% if i.created_by == current_user.id %}
            {{i.group_name}}
        {% else %}
            {{i.group_name}}(shared)
        {% endif %}
        </label>
        <br>
        {% endfor %}
    </div>
</form>
    {% else %}
    {% for i in user_list%}
    {% if i.id == select_group %}
    <div class="current-group">
        <h5>Current</h5>
        {% if i.created_by == current_user.id %}
            <div class="current-group-name">{{i.group_name}}</div>
        {% else %}
            <div class="current-group-name">{{i.group_name}}(Shared)</div>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    {% endif%}

{% if sub_form %}
<form method="POST" action="" enctype="multipart/form-data">
    {{ sub_form.hidden_tag() }}
    <button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#submenu-random">
        Random</button>
    <div id="submenu-random" class="collapse">
        <fieldset class="form-group">
            <div class="form-group">
                {{ sub_form.event_date.label(class="form-control-label") }}
                {{ sub_form.event_date(class="form-control", type="month") }}
            </div>
            <div class="form-group container">
                <div class="row">
                    {{ sub_form.event_type.label(class="form-control-label") }}
                </div>
                <div class="border row sub-menu-type">
                    {% if sub_form.event_type.errors %}
                    {{ sub_form.event_type(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in sub_form.event_type.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {% for s in sub_form.event_type %}
                    <div class="form-check form-inline">
                        {{ s(class="form-check-input checkbox") }} {{ s.label(class="form-check-label checkbox-label") }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="form-group container">
                <div class="row">
                    {{ sub_form.categories.label(class="form-control-label") }}
                </div>
                <div class="border row sub-menu-categories">
                    {% if sub_form.categories.errors %}
                    {{ sub_form.categories(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in sub_form.categories.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {% for s in sub_form.categories %}
                    <div class="form-check form-inline">
                        {{ s(class="form-check-input checkbox") }} {{ s.label(class="form-check-label checkbox-label") }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

        </fieldset>
        <div class="form-group">
            {{ sub_form.submit(class="btn btn-outline-info") }}
        </div>
    </div>
</form>
{% endif %}
{% endif %}