{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ title }}</legend>
            <div class="form-group">
{#                {{ form.group_name.label(class="form-control-label") }} #}
                {% if not form and form.group_name.errors %}
                {{ form.group_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.group_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {% if group.created_by == current_user.id and form.group_name.data != "default" %}
                        {{ form.group_name(class="form-control form-control-lg")  }}
                    {% else %}
                        {{ form.group_name(class="form-control form-control-lg", disabled=True)  }}
                        Created by {{ created_by.email }}
                    {% endif %}
                {% endif %}
            </div>
        </fieldset>
        {% if group.created_by == current_user.id and form.group_name.data != "default" %}
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        {% endif %}
    </form>
    {% if group.created_by == current_user.id and form.group_name.data != "default" %}
    <button type="button" class="btn btn-outline-danger" data-toggle="modal"
        data-target="#deleteModal-group">Delete</button>
    <div class="modal fade" id="deleteModal-group" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-group"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel-group">Delete Group?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('users.delete_group', group_id=group.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <form>
    <legend class="border-bottom mb-4">Remove member</legend>
    {% for member in members %}
    {% if member.id != current_user.id%}
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deletegroupModal-{{member.id}}">{{member.email}}</button>
    <div class="modal fade" id="deletegroupModal-{{member.id}}" tabindex="-1" role="dialog" aria-labelledby="deletegroupModalLabel-{{member.id}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletegroupModalLabel-{{member.id}}">
                        Remove {{member.email}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form
                        action="{{ url_for('users.remove_member', group_id=group.id, user_id=member.id) }}"
                        method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <button type="button" class="btn btn-warning" data-toggle="modal" disabled>{{member.email}}</button>
    {% endif %}
    {% endfor %}
        </form>
    {% if group.created_by == current_user.id%}
   <form method="POST" action="">
        {{ invite_form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Invite to Group</legend>
            <div class="form-group">
                {{ invite_form.email.label(class="form-control-label") }}
                {% if invite_form.email.errors %}
                {{ invite_form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in invite_form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ invite_form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ invite_form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    {% endif %}
</div>

{% endblock content %}